
{% extends "blogging/base.html" %}
{% block extra_script %}

<script type="text/javascript" src="{{ STATIC_URL }}js/add_form.js"></script>
<script type="text/javascript">
	$(function (){
		$('.add-row').click(function(){
			return addForm(this, 'form');
		});
		$('.delete-row').click(function(){
		return deleteForm(this, 'form');
		})
	})
</script>
{% endblock %}

{% block content_blog %}

<div class="mB-120 ">
    <div class="section fixed-width mdl-grid">
        <div class="mdl-cell mdl-cell--8-col section__block section__block--form">
			<form action="." id="id_content_type" class="formbox" method="post">
			{% csrf_token %}
			<h2> Create new content type </h2>
                <div class="form__field form__field--name">
                  <label for="name" class="form__outer-label">Name:</label>
                  <div class="mdl-textfield mdl-js-textfield is-upgraded">
                    <input class="mdl-textfield__input" id="content_type" name="content_type" type="text" value="{% if form1.content_type.value %}{{ form1.content_type.value }}{% endif %}">
                    <label class="mdl-textfield__label" for="content_type">content_type</label>
                    <span class="mdl-textfield__error" {% if form1.content_type.errors %}style="visibility:visible;"{% endif %}>{{ form1.content_type.errors }}</span>
                  </div>
                </div>
                
                <label class="mdl-checkbox mdl-js-checkbox" for="is_leaf">
                    <input type="checkbox" id="is_leaf" name="is_leaf" class="mdl-checkbox__input" checked>
                    <span class="mdl-checkbox__label">For Articles</span>
                </label>
			    
			    <table border="0" cellpadding="3" cellspacing="0">
			        <h5> Set the Fields <small> title, section, parent, tags, and pid_count are the keywords, please don't use them </small> </h5>
			        <tbody>
			            {% for form in formset.forms %}
			            <tr id="{{ form.prefix }}-row" class="dynamic-form">
			                <td>
			                <div class="mdl-textfield mdl-js-textfield">
				                <input class="mdl-textfield__input" id="id_form-0-field_name" name="form-0-field_name"
				                 type="text" value="{% if form.field_name.value %}{{ form.field_name.value }}{% endif %}">
				                <span class="mdl-textfield__error" {% if form.field_name.errors %}style="visibility:visible;"{% endif %}>
				                 {{ form.field_name.errors }}
				                </span>
			                </div>
			                </td>
			                <td>
			                 <div class="material-select mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			                 {{ form.field_type }}
			                 </div>
			                 <span class="mdl-textfield__error" {% if form.field_type.errors %}style="visibility:visible;"{% endif %}>{{ form.field_type.errors }}</span>
			                </td>
			                <td{% if forloop.first %} class="hidden"{% endif %}>
			                    <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row btn btn-danger"> Delete </a>
			                </td>
			            </tr>    
			            {% endfor %}
			            <tr>
			                <td colspan="4"><a href="javascript:void(0)" class="add-row">add property</a></td>
			            </tr>
			        </tbody>
			    </table>
			    {{ formset.management_form }}
			
			    <div class=form-group>
			        <input type="submit" class="feature-button feature-button--submit mdl-button mdl-js-button mdl-button--raised" /> | <a class="feature-button feature-button--delete mdl-button mdl-js-button mdl-button--raised" href="javascript:window.close()">Cancel</a>
			    </div>
			</form>
        </div>
    </div>
</div>

{% endblock %}