{% load mptt_tags staticfiles blogging_tags %}

{% if nodes|length > 0 %}
	{% recursetree nodes %}
    <div class="content__item content__item--subject mdl-shadow--2dp">
      <div class="subject__header" style="background-image: url('{{ node.get_image_url }}')"></div>
      <a href="{{ node.get_absolute_url }}">
        <div class="subject__body">
          <h3 class="subject__name">{{ node.title }}</h3>
          <div class="subject__extract">Designing and auditing fair pay practices are steps organizations everywhere can take to create more equitable workplaces.</div>
        </div>
        <div class="subject__footer">
          <div class="subject__related-content">
          {% get_section_articles_count node as count%}
            <span class="related-content__item"> {{ count }} article{{ count|pluralize }}</span>
          </div>
        </div>
      </a>
    </div>
	{% endrecursetree %}
{% else %}
	<h1> Page Under Construction!!!</h1>
{% endif %}


{% comment %}  
<section id="section-view">
	<div class="row">
	
		{% if nodes|length > 0 %}
			{% recursetree nodes %}
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 p-10">
				<article class="col-sm-12 col-md-12 nopadding">
					<a class="thumbnail" href="{{ node.get_absolute_url }}">
						<img src="{{ node.get_image_url }}"></img>
					</a>
					<div class="feature-text">
						<h3>
							<a href="{{ node.get_absolute_url }}"> {{ node.title }}</a>
						</h3>
						<p>
							{% if node.is_leaf_node %}
								{{ node.get_article_count }} Article{{ node.get_article_count|pluralize }}
							{% else %}
								{{ node.get_child_count }} Section{{ node.get_article_count|pluralize }}
							{% endif %}
						</p>
					</div>
				</article>
			
			</div>
			{% endrecursetree %}
		
		{% else %}
			<div class="col-xs-12">
				<h1> Page Under Construction!!!</h1>
			</div>
		{% endif %}
	
	</div>

{% if nodes.paginator.count > max_entry %}
<div class="text-center">
<ul class="pagination">
        {% if nodes.has_previous %}
            <li><a href="?page={{ nodes.previous_page_number }}">&laquo;</a></li>
        {% endif %}
  		<li><a href="">{{ nodes.number }} of {{ nodes.paginator.num_pages }} </a></li>
        {% if nodes.has_next %}
            <li><a href="?page={{ nodes.next_page_number }}">&raquo;</a></li>
        {% endif %}
</ul>
</div>
{% endif %}
	
</section>
{% endcomment %}
