{% comment %}  Pass articles and separator if required {% endcomment %}
{% load staticfiles %}
<div class="maia-cols cards-container">
      {% for el in articles %}
        <div class="maia-col-4 card mdl-card mdl-shadow--2dp">
          <div class="image mdl-card__title js-click" data-url="{{ el.get_absolute_url }}" style="background-image:url('{{ el.get_image_url }}');"></div>
          <div class="content mdl-card__supporting-text mdl-color-text--grey-800 js-click" data-url="{{ el.get_absolute_url }}">
            <h3 class="mdl-card__title-text subhead mdl-typography--font-regular">
              {{ el.title }}
            </h3>
            <p>
              {{ el.get_summary }}
            </p>
          </div>
          <div class="mdl-card__actions">
            <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ el.get_absolute_url }}">Read more<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
          </div>
        </div>
       {% endfor %}
    {% if separator %}
         <div class="section--separator"></div>
    {% endif %}
</div>

{% comment %}
{% load url from future %}
{% load thumbnail %}
{% load voting_tags %}
			<!-- Stacked Featured posts for this section -->
	{% for node in nodes %}
	<div class="media feature content-block-article paper .paper-blue" data-groups='["articles"]'>
    	<a  class="image" href="{{node.get_absolute_url}}" class="pull-left">
			<img class="img-responsive" src="{{ node.get_image_url }}" class="media-object"></img>                	
    	</a>
    	<div class="feature-heading">
    	{% if not parent %}
    		<span class="eyebrow"> <a href="{{ node.get_parent.get_absolute_url }}">{{ node.get_parent.title }}</a></span>
  					{% endif %}          
       		{% score_for_object node as score %}
            <span class="eyebrow pull-right">Score: {{ score.score }}</span>                		    		
    		<a class="title" href="{{node.get_absolute_url}}">
    			 {{ node.title }}
    		</a>
    	</div>
    	<div class="feature-tags"><span class="glyphicon glyphicon-tags"></span> <b>Tags:</b> 
    		<ul class="post-tags">
    			{% for tag in node.get_tags %}
    			 <li> <a href="{{ tag.url }}"> {{ tag.name }}</a></li>
    			{% endfor %} 
    		</ul>
    	</div>
    </div>   
    {% endfor %}					
{% endcomment %}       			
