{% load url from future %}
{% load thumbnail %}
{% load voting_tags %}

			<!-- Stacked Featured posts for this section -->
				{% for node in nodes %}
				<div class="media feature content-stack-article paper">
                	<a  class="image" href="{{node.get_absolute_url}}" class="pull-left">
						<img class="img-responsive" src="{{ node.get_image_url }}" class="media-object"></img>                	
                	</a>
                	<div class="feature-heading">
                	{% if not parent %}
                		<span class="eyebrow"> <a href="{{ node.get_parent.get_absolute_url }}">{{ node.get_parent.title }}</a></span>
  					{% endif %}
                        {% score_for_object node as score %}
                        <span class="eyebrow pull-right">Score: {{ score.score }}</span>                		
                		<a class="title" href="{{node.get_absolute_url}}">
                			 {{ node.title }}
                		</a>
                	</div>
                	<div class="feature-tags"><span class="glyphicon glyphicon-tags"></span> <b>Tags:</b> 
                		<ul class="post-tags">
                			{% for tag in node.get_tags %}
                			 <li> <a href="{{ tag.url }}"> {{ tag.name }}</a></li>
                			{% endfor %} 
                		</ul>
                	</div>
                </div>                
                {% endfor %}						
						       			


