{% load voting_tags %}
{% load humanize %}

{% if nodes|length > 0 %}
	{% for node in nodes %}
    <div class="content__item content__item--teaser mdl-shadow--2dp">
      <div class="teaser__image border-1px" style="background-image: url('{{ node.get_image_url }}')">
      </div>
      <div class="teaser__body">
        <h3 class="teaser__title">
          <a href="{{node.get_absolute_url}}">{{ node.title }}</a>
        </h3>
        <div class="teaser__extract">
          {{ node.get_summary }}
        </div>
        <div class="teaser__action">
        
    			{% for tag in node.get_tags %}
		          <button onclick="window.location.href='{{ tag.url }}'" class="mdl-button mdl-button--icon tags-button">
		    		<i>{{ tag.name }}</i>
				  </button>
    			{% endfor %} 
        
		  {% score_for_object node as score %}
		  <div class="material-icons mdl-badge " data-badge="{{ score.score }}" title="votes">thumb_up</div>
        </div>
      </div>
    </div>
	{% endfor %}
{% else %}
   <div class="">
    <div class="search-stats">        
        Sorry, no results for
    </div>
    <div class="search-title">
        <h3>{{ page.title }}</h3>
    </div>
    <div class="search-stats oops-message">             
    </div>
</div>

{% endif %}



{% comment %}  
<section  id="section-view">
		{% if nodes|length > 0 %}
			{% for node in nodes %}
				<article class="post vt-post">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<div class="post-type post-img">
								<div style="height:190px;overflow:hidden;position:relative;">
									<a href="{{node.get_absolute_url}}" style="position:absolute;top:50%;transform:translate(0,-50%);">
										<img class="img-responsive" alt="airticle image" src="{{ node.get_image_url }}"></img>
									</a>
								</div>
								<div class="author-info author-info-2" style="float:none;">
									<ul class="list-inline">
										<li>
											<div class="info"> <p> Posted on:</p> <strong>{{ node.publication_start|naturalday }}</strong></div>
										</li>
										{% score_for_object node as score %}
										<li>
											<div class="info"> <p> Score:</p> <strong>{{ score.score }}</strong></div>
										</li>
									</ul>
								</div>

							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
							<div class="caption">
								<h3 class="md-heading">
									<a href="{{node.get_absolute_url}}">{{ node.title }}</a>
								</h3>
								<p>{{ node.get_summary }}</p>
								<a class="btn btn-default btn-more" href="{{node.get_absolute_url}}" role="button">Read More</a>
							</div>
						</div>						
					</div>
				</article>
			{% endfor %}
		{% else %}
			{% include 'under_construction.html' %}
		{% endif %}

{% if nodes.paginator.count > max_entry %}
	<div class="text-center">
	<ul class="pagination">
	        {% if nodes.has_previous %}
	            <li><a href="?page={{ nodes.previous_page_number }}">&laquo;</a></li>
	        {% endif %}
	  		<li><a href="">{{ nodes.number }} of {{ nodes.paginator.num_pages }}</a></li>
	        {% if nodes.has_next %}
	            <li><a href="?page={{ nodes.next_page_number }}">&raquo;</a></li>
	        {% endif %}
	</ul>
	</div>
{% endif %}

</section>
{% endcomment %}