{% extends "blogging/base.html" %}

{% block title %}
Contact-Us
{% endblock %}

{% block content_blog %}
        <!-- Main content goes here -->
        <div class="mB-120 contact-us-page">
          <div class="section section--hero">
            <div class="section__block fixed-width">
              <div class="section--hero__text">
                <h2 class="hero__title">We'd love to hear from you.</h2>
                <p class="hero__subtitle">
                  For Queries, Questions, Suggestions, Feedback or for giving a pat on our back, please feel free to contact Us.
                </p>
              </div>
            </div>
          </div>
          <div class="section fixed-width mdl-grid">
            <div class="mdl-cell mdl-cell--8-col section__block section__block--form">
              <form action="{% url "contact" %}" method="POST" class="formbox">
              {% csrf_token %}
                <h4 class="formbox__success" {% if success %}style="display:block;"{% endif %}>
                  <i class="material-icons email-success">done_all</i>
                  Thanks! We'll keep in touch.
                </h4>
                <ul class="formbox__errors"></ul>
                <div class="form__field form__field--name">
                  <label for="name" class="form__outer-label">My name is:</label>
                  <div class="mdl-textfield mdl-js-textfield is-upgraded">
                    <input class="mdl-textfield__input" id="name" name="name" type="text" value="{{ form.name.value }}">
                    <label class="mdl-textfield__label" for="name">Name</label>
                    <span class="mdl-textfield__error" {% if form.name.errors %}style="visibility:visible;"{% endif %}>{{ form.name.errors }}</span>
                  </div>
                </div>
                <div class="form__field form__field--email">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
                    <input class="mdl-textfield__input" id="email" name="email" type="email" value="{{ form.email.value }}">
                    <label class="mdl-textfield__label" for="email">Email address</label>
                    <span class="mdl-textfield__error" {% if form.email.errors %}style="visibility:visible;"{% endif %}>{{ form.email.errors }}</span>
                  </div>
                </div>
                <div class="form__field form__field--type">
	                <div>
	                  <label class="form__outer-label">And I :</label>
	                </div>
                <div class="type__options">
                {% for choice in form.contact_type.field.choices %}
                  <label class="form__radio-outer-label mdl-radio mdl-js-radio mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded"
                    for="{{ choice.0 }}">
                        <input id="{{ choice.0 }}" class="mdl-radio__button" name="contact_type" value="{{ choice.0 }}" type="radio"
                         {% ifequal form.contact_type.value choice.0 %} checked="checked" {% endifequal %} />
                        <span class="mdl-radio__label">{{ choice.1 }}</span>
                        <span class="mdl-radio__outer-circle"></span>
                        <span class="mdl-radio__inner-circle"></span>
                        <span class="mdl-radio__ripple-container mdl-js-ripple-effect mdl-ripple--center">
                          <span style="width: 120.794px; height: 120.794px; transform: translate(-50%, -50%) translate(21px, 21px);"
                            class="mdl-ripple is-animating">
                          </span>
                        </span>
                  </label>
                {% endfor %}
                <span class="mdl-textfield__error" {% if form.contact_type.errors %}style="visibility:visible;"{% endif %}>{{ form.contact_type.errors }}</span>
                 </div>
                    </div>
                    <div class="form__field form__field--message">
                      <div class="mdl-textfield mdl-js-textfield is-upgraded">
                        <textarea class="mdl-textfield__input" rows="3" id="content" name="content"></textarea>
                        <label class="mdl-textfield__label" for="content">Your message</label>
                        <span class="mdl-textfield__error" {% if form.content.errors %}style="visibility:visible;"{% endif %} >{{ form.content.errors }}</span>
                      </div>
                    </div>
                    <div class="form__field form__field--name">
                      <label for="extra" class="form__outer-label">Leave this Blank:</label>
                      <div class="mdl-textfield mdl-js-textfield is-upgraded">
                        <input class="mdl-textfield__input" id="extra" name="extra" type="text">
                        <label class="mdl-textfield__label" for="extra">honeypot</label>
                        <span class="mdl-textfield__error"  {% if form.extra.errors %}style="visibility:visible;"{% endif %} >{{ form.extra.errors }}</span>
                      </div>
                    </div>
                    <input id="honeypot" name="honeypot" type="hidden">
                    <div class="form__field form__field--submit">
                      <input class="feature-button feature-button--submit mdl-button mdl-js-button mdl-button--raised" value="Send" type="submit">
                    </div>
                  </form>
                </div>
            <div class="mdl-cell mdl-cell--4-col section__block section__block--social">
              <h3 class="social__title">Find us on:</h3>
              <a href="https://www.facebook.com/PirateLearner" target="_blank" class="social__link" title="Facebook Page">
                <span class="facebook-icon icon" style="width:30px;height:30px;"></span><span>Facebook</span>
              </a>
              <a href="https://plus.google.com/116465481265465787624" target="_blank" title="Google Page" class="social__link">
                <span class="google-plus-icon icon" style="width:30px;height:30px;"></span><span>Google-Plus</span>
                </a>
            </div>
          </div>
        </div> <!-- mdl-grid main content ended -->

        <div class="section section--support section--grey">
          <div class="main-aux">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col help-item">
                <h3>Who are we?</h3>
                <p>
                  See the <a href="{% url "about" %}">About Us</a> page.
                </p>
              </div>
              <div class="mdl-cell mdl-cell--6-col help-item">
                <h3>Questions?</h3>
                <p>
                  Check out the <a href="{% url "faq" %}">FAQ</a> page.
                </p>
              </div>
            </div>
          </div>
        </div>

{% endblock %}