{% extends "blogging/base.html" %}

{% block extra_style %}
<!--getmdl-select-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/getmdl-select.min.css">
{% endblock %}

{% block extra_script %}
{% comment %}  
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
{% endcomment %}
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor-init.js"></script>

{% endblock %}

{% block title %}
Create Content - Phase-1 
{% endblock %}

{% block content_blog %}
<div class="mB-120 ">
      <div class="section section--hero">
        <div class="section__block fixed-width">
          <div class="section--hero__text">
            <h2 class="hero__title">Content Type.</h2>
            <p class="hero__subtitle">
              Select the type of content among the existing ones or create one which suits your requirements.
            </p>
          </div>
        </div>
      </div>

	<div class="section fixed-width mdl-grid">
		<div class="mdl-cell mdl-cell--8-col section__block section__block--form">
		<form action="" method="POST" class="formbox">
			{% csrf_token %}
  		<div class="form__field form__field--name">
			<label for="ContentType" class="form__outer-label">Content Type:</label>
			<div class="material-select mdl-textfield mdl-js-textfield mdl-textfield--floating-label">{{ form.ContentType }}</div>
	     </div>		
		
			<div class="form__field form__field--submit pT40">
				<input class="feature-button feature-button--submit mdl-button mdl-js-button mdl-button--raised" name="submit" value="next" type="submit">
				<input class="feature-button feature-button--delete mdl-button mdl-js-button mdl-button--raised" name="submit" value="delete" type="submit">
			</div>
		</form>
		</div>
	</div>
</div>

{% comment %}  
<div class="container-fluid" >
	<div class="row">
	    {% include 'leftbar.html' with active="create" %}

	<div class="col-md-8 pT-50">
	</div>
	
	</div>
</div>
{% endcomment %}
{% endblock %}