{% extends "blogging/base.html" %}
{% block extra_script %}
{% comment %}  
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<!--<script src="{{ STATIC_URL }}js/cms.ckeditor.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>


{{ form.media }}
{% endcomment %}

<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor-init.js"></script>

{% endblock %}

{% block title %}
Create Content - Phase-2
{% endblock %}

{% block content_blog %}

<div class="mB-120 ">
      <div class="section section--hero">
        <div class="section__block fixed-width">
          <div class="section--hero__text">
            <h2 class="hero__title">Create Content.</h2>
            <p class="hero__subtitle">
              Create the content of the type.
            </p>
          </div>
        </div>
      </div>

	<div class="section fixed-width mdl-grid">
		<div class="mdl-cell mdl-cell--8-col section__block section__block--form">
		<form action="" method="POST" class="formbox">
			{% csrf_token %}
		
		{% if form.title %}
                <div class="form__field form__field--name">
                  <label for="name" class="form__outer-label">Title :</label>
                  <div class="mdl-textfield mdl-js-textfield is-upgraded">
                    <input class="mdl-textfield__input" id="title" name="title" type="text" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" required>
                    <label class="mdl-textfield__label" for="name">Title</label>
                    <span class="mdl-textfield__error">{{ form.title.errors }}</span>
                  </div>
                </div>		
		{% endif %}
		
		{% if form.section %}
	  		<div class="form__field form__field--name">
				<label for="ContentType" class="form__outer-label">Section:</label>
				<div class="material-select mdl-textfield mdl-js-textfield mdl-textfield--floating-label">{{ form.section }}</div>
		     </div>
		{% endif %}

		{% if form.parent %}
	  		<div class="form__field form__field--name">
				<label for="ContentType" class="form__outer-label">Parent:</label>
				<div class="material-select mdl-textfield mdl-js-textfield mdl-textfield--floating-label">{{ form.parent }}</div>
		     </div>
		{% endif %}
		

			 {% for el in form %}						 
			 	{% if el.name != "title" and el.name != "pid_count" %}
			 		{% if form.section %}
			 			{% if el.name != "section" and el.name != "tags" %}
		                    <div class="form__field form__field--message">
		                    <label class="form__outer-label" for="{{ el.name }}"> {{ el.label_tag }} </label>
		                      <div class="mdl-textfield mdl-js-textfield ">
		                        {{ el }}
		                        <span class="mdl-textfield__error">{{ el.errors }}</span>
		                      </div>
		                    </div>			 			
			 			{% endif %}
			 		{% else %}
			 			{% if el.name != "parent" %}
		                    <div class="form__field form__field--message">
		                    <label class="form__outer-label" for="{{ el.name }}"> {{ el.name }} </label>
		                      <div class="mdl-textfield mdl-js-textfield ">
		                        {{ el }}
		                        <span class="mdl-textfield__error">{{ el.errors }}</span>
		                      </div>
		                    </div>			 			
			 			{% endif %}			 		
			 		{% endif %}
			 	{% endif %}
			 	
			 	{% if el.name == "pid_count" %}
			 		<input id="id_pid_count" name="{{ el.name }}" value="{{ el.value }}" type="hidden">	
			 	{% endif %}
			 	
			 {% endfor %}
			 {% if form.section %}
			     {% include "tags.html" with form=form %}
			 {% endif %}
		
		
			<div class="form__field form__field--submit pT40">
				<input class="feature-button feature-button--submit mdl-button mdl-js-button mdl-button--raised" name="submit" value="Publish" type="submit">
				<input class="feature-button feature-button--submit mdl-button mdl-js-button mdl-button--raised" name="submit" value="Save Draft" type="submit">
			</div>
		</form>
		</div>
	</div>
</div>

{% comment %}  
<div class="container-fluid" >
	<div class="row">
	    {% include 'leftbar.html' with active="create" %}

	<div class="col-md-8 pT-50">
		{% if success %}
		
		<h1> Save Success! Thank You For Time. </h1> 
		
		
		{% else %}
		{% endif %}
	</div>
	</div>
</div>
{% endcomment %}
{% endblock %}

