{% extends "blogging/base.html" %}

{% load disqus_tags %}


{% disqus_dev %}
{% block meta %}
{% include "meta.html" with meta=meta only %}
{% endblock %}

{% if parent %}




{% endif %}

{% block title %}
{{ content.title }}
{% endblock %}
 
{% block edit_content %}
{% if request.user.is_authenticated %}
      <li><a href="{{ nodes.get_absolute_url }}?edit=True">Edit Post</a></li>
{% endif %}
{% endblock %}
  
{% block content_blog %}

{% load blogging_tags %}
<section class="header-ribbon" id="overlay-target">

	<!--<div> -->
{% render_content content %}
	<!-- </div> -->

</section>
<div class="article-adjunct">
    <nav class="article-adjunct-nav">
        <ul class="article-adjunct-nav--list">
            <li class="nav-tab article-adjunct-nav--item active"><a href="#article-adjunct-tab-discuss"><span>Discussions</span></a></li>
            <li class="nav-tab article-adjunct-nav--item"><a href="#article-adjunct-tab-notes"><span>Notes</span></a></li>
        </ul>
    </nav>
    <div class="article-adjunct-block">
        <div class="article-adjunct-tab" id="article-adjunct-tab-discuss">
			{% disqus_show_comments %}
        </div>
        <div class="article-adjunct-tab active comments-container" id="article-adjunct-tab-notes">
            
        </div>
    </div>
</div>

{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
<!--<script src="{{ STATIC_URL }}js/annotation/self.js"></script>-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/overlay.css"></link>

{% endblock %}

