{% if entries %}
  <ul>
    {% for entry in entries %}
      <li>
          <div>
            <span><a href="{% url 'blogging:detail' entry.id %}">{{ entry.title }}</a></span>
            {% with entry.policy.all|first as policy %}
            <span>
            {% ifequal policy.get_policy_display 'Publish' %}
              Published
            {% else %}
              Draft
            {% endifequal %}
            </span>
            {% endwith %}
          </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
<h3>No posts have been created yet. Start writing!</h3>
{% endif %}