
{% extends "blogging/base.html" %}



{% load staticfiles%}

{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/blogging/manage.js"></script>
{% endblock %}

{% block content_blog %}

<div class="mB-120">
      <div class="section section--hero">
        <div class="section__block fixed-width">
          <div class="section--hero__text">
            <h2 class="hero__title">Articles.</h2>
            <p class="hero__subtitle">
              View your Article status and scope here.
            </p>
          </div>
        </div>
      </div>

<!-- show tabs -->
<div class="pB8">
	<div class="_layout">
		<div class="md-tabs">
			<div class="md-tabs__tab-bar">
				<div class="md-tabs__tab is-static">
					<span class="tab-label">Articles</span>
				</div>			
			{% for tab in query_tabs %}
				<a href="{{ tab.url }}" class="md-tabs__tab {{ tab.css }}" title="{{ tab.help_text }}">
					<span class="tab-label bL">{{ tab.name }}</span>
				</a>
			{% endfor %}
			</div>
		</div>				
	</div>	
</div>

<section id="id-section-main" class="pA8">
	<div class="dashboard__post mdl-grid">
		<div class="mdl-card mdl-cell mdl-cell--12-col">							
		{% if articles %} {% comment %} Display the list {% endcomment %}
				{% comment %} Pagination {% endcomment %}				
			<div class="mdl-card__supporting-text stats-text">		            
				<span>{{ articles.paginator.count }} results for </span>
				<strong>{{result_title}}</strong>
			</div>
			{% if articles.paginator.num_pages > 1 %}
				<div class="mdl-card__supporting-text pTB0 mdl-color-text--grey-600">		            
					{% include "common/pagination.html" with nodes=articles getvars=getvars only %}
				</div>
			{% endif %}
			
			{% if request.user.is_staff %}
			<div class="wFull mH-auto mT-16">
				<form id="id-action" class="formbox">
		            <div class="form__field form__field--name">
		                <div class="material-select mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                            <select name="action" id="id_action" required>
                               {% for el in actions %}
                               <option value="{{ el.name }}">{{ el.name }} -- {{ el.help }}</option>
                               {% endfor %}
                            </select>
                        </div>
                        <div class="feature-button feature-button--submit mdl-button mdl-js-button mdl-button--raised" id="id-action-btn"  
                        data-url='{% url "blogging:manage_articles" %}'>Save</div> 
		             </div>
				</form>
                <div id="id-div-status" class="row hidden">
                    <div class="mR-10">
                        <i id="id-status-icon" class="material-icons icon" role="presentation"></i>
                    </div>
                    <div id="id-status-text" class="">
                        
                    </div>
                </div>				
                <div id="id-div-loading" class="progress-bar mdl-progress mdl-js-progress mdl-progress__indeterminate hidden"></div>
			</div>			
			{% endif %}
			
			{% comment %} Article list table {% endcomment %}
			<div class="table--large mdl-color-text--grey-800 mB-16">
				<table class="mdl-data-table mdl-js-data-table {% if request.user.is_staff %}mdl-data-table--selectable{% endif %}  wSn">
					<thead>
						<tr>
					    	<th>#</th>
					    	<th class="non-numeric">Title</th>
					    	<th class="non-numeric">Author</th>
					    	<th class="non-numeric">Section</th>
					    	<th>Date</th>
					    	<th class="non-numeric">Status</th>
					    </tr>
					</thead>						
					<tbody id="id-tbody">
						{% for article in articles %}
						<tr data-id={{ article.id }}>
							<td>{{ forloop.counter }}</td>
							<td class="non-numeric fS16">
								<a href="{{ article.get_absolute_url }}" title="View article">{{ article.get_title }}</a>
							</td>
							<td class="non-numeric fS16">
								<a href="{% url "dashboard:dashboard-profile" article.get_author.id %}" title="Search in crawled authors">
								{{ article.get_author.profile.get_profile_name }}</a>
							</td>
							<td class="non-numeric">
								{{ article.get_parent.get_menu_title }}
							</td>
							<td title="{{article.publication_start}}">{{ article.publication_start | date }}</td>
							<td class="non-numeric"  >
								{% if article.published_flag %}
      					      	<i data-id={{ article.id }} class="material-icons mdl-color-text--green-600 post-status" title="published">check</i>
      					      	{% elif article.special_flag %}
      					      	<i data-id={{ article.id }} class="material-icons mdl-color-text--red-600 post-status" title="in draft">cancel</i>
      					      	{% else %}
      					      	<i data-id={{ article.id }} class="material-icons mdl-color-text--red-300 post-status" title="pending for review" >close</i>
      					      	{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% comment %} Pagination {% endcomment %}
			{% if articles.paginator.num_pages > 1 %}
			<div class="mdl-card__supporting-text pTB0 mdl-color-text--grey-600">		            
				{% include "common/pagination.html" with nodes=articles getvars=getvars only %}
			</div>
			{% endif %}
		{% else %}  {% comment %} Display the notification {% endcomment %}
			<div class="">
				<div class="search-stats">        
					Sorry, no results for
				</div>
				<div class="search-title">
					<h3>{{result_title}}</h3>
				</div>
				<div class="search-stats oops-message">	            
				</div>
			</div>
		{% endif %}					
		</div>					
	</div>	
</section>

    {% url "blogging:content-type" as url %}
    {% include "common/button-floating-add.html" with url=url %}



</div>



{% endblock %}
