{% extends "blogging/base.html" %}

{% comment %}  

This template will include 4 major html files: section_title.html, indext_tree.html, teaser_list.html, and right_bar.html.

1) One row will be taken by section_title.html. 
2) On second row 2 columns are given to index_tree.html.
3) On second row 8 columns are given to teaser_list.html.
4) Remaining 2 columns are given to right_bar.html.

{% endcomment %}


{% block title %}
{{ page.title }}
{% endblock %}


{% block content_blog %}

        <div class="mB-120 sections-page">
          {% include 'blogging/section_title.html' with page=page %}
          <div class="section fixed-width mdl-grid">
            <div class="mdl-cell mdl-cell--3-col section__block section__block--indexes">
				{% include 'blogging/index_tree.html' with parent=parent %}
            </div>
            <div class="mdl-cell mdl-cell--9-col section__block section__block--list">
              <div class="content__container">
				{% include "blogging/includes/section_view.html" with nodes=nodes max_entry=max_entry %}
              </div>
              {% include "common/pagination.html" with nodes=nodes %}
            </div>
          </div>
        </div> <!-- mdl-grid main content ended -->


        <div class="section section--support section--grey">
          <div class="main-aux">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--6-col help-item">
                <h3> Questons?</h3>
                <p>
                  Check out the <a href="{% url "about" %}">About Us</a>
                </p>
              </div>
              <div class="mdl-cell mdl-cell--6-col help-item">
                <h3>Interested?</h3>
                <p>
                  Reach out to us at <a href="{% url "contact" %}">Contact</a>
                </p>
              </div>
            </div>
          </div>
        </div>

{% comment %}  

<div class="container-fluid" >
	<div class="row mR-40">
	    {% include 'blogging/section_title.html' with page=page %}
	</div>

	<div class="row">
		<!-- indext tree -->
		<div class="content-tree col-md-2 ">
			{% include 'blogging/index_tree.html' with parent=parent %}
		</div>

		<!-- Main teaser list -->
		<div class="col-md-7 col-sm-12">
			<div class="mR-40">
				{% include "blogging/includes/section_view.html" with nodes=nodes max_entry=max_entry %}
			</div>
		</div>
	
		<!-- Sidebar for extra information -->
		<div class="col-lg-3 col-md-3 col-sm-12 ">
			{% include 'rightbar.html' %}
		</div>
	
	</div>
	
</div>

{% endcomment %}


{% endblock %}
