{% extends "blogging/base.html" %}
{% load static %}
{% block content %}
{% if templates %}
  <ul>
    {% for template in templates %}
      <li>
          <div>
            <span>
                <a href="{% url 'blogging:template' template.id %}">
                    {{ template.name }}
                </a>
            </span>
          </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
<h3>No templates have been created!</h3>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static "js/blogging.js" %}" ></script>
<script src="{% static "js/template.js" %}" ></script>
{% endblock %}