{% load voting_tags %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
	<script src="{{ STATIC_URL }}js/modernizr.custom.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>    
    
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL}}js/login_action.js"></script>
<style>
 .mdl-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: auto;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: rgb(255,255,255);
  border-radius: 2px;
  box-sizing: border-box; 
  margin: 16px auto;
 }
 
.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}
.column .mdl-card__title-text {
    align-self: flex-start;
}
.card-row {
    display: flex;
    flex-direction: row;
    align-items: left;
}
.card-row.fill {
	justify-content: space-between;
}

.bS-1 { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);}
.wFull { width: 100%; }
 .mW-512px { max-width: 512px; }
 
 
.card-panel {
	padding: 8px 16px;
}
.light-txt {
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
	color: #757575;
}
.light-txt a {
	/*color: #ED4255;*/
	color: #3F51B5;
}
.section-txt {
	padding: 16px 16px 0px 16px;
	font-size: 12px;
    line-height: 17px;
    font-weight: 300;
	color: #757575;
}

.mdl-card__media {
 	margin: 16px 16px;
	width: 168px;
	height: auto;
}
.media-link {
	display: block;
	width: 100%;
	height: 100%;	
}
.mdl-card__title {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(0,0,0);
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  line-height: normal;
  padding: 16px 16px;
  -webkit-perspective-origin: 165px 56px;
          perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
      -ms-transform-origin: 165px 56px;
          transform-origin: 165px 56px;
  box-sizing: border-box; 
 }

.mdl-card__actions {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box; 
  align-items: center;
 }
 
 .mdl-layout-spacer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; 
}
.mdl-card__menu {
  position: absolute;
  right: 16px;
  top: 16px; 
}

.border-top { border-top: 1px solid rgba(0, 0, 0, 0.1); }
.border-btm { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }  

a {
    text-decoration: none;
	font-weight: inherit;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
    
.title-text {
	font-weight: 400;
	font-size: 24px;
	line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
 /* Tags */
.hashtag {
	display: inline-flex;
}
.hashtag b {
	font-weight: 500;
	color: #0084B4;
}
.hashtag s {
	color: #66B5D2;
	text-decoration: none;
}

/* links */
.pretty-link b {
	font-weight: 500;
}
.pretty-link:hover, .pretty-link:hover s, .pretty-link:focus, .pretty-link:focus s {
    text-decoration: none;
}
.pretty-link:hover b, .pretty-link:focus b {
    text-decoration: underline;	
}
.h-link {
	color: #1A0DAB;
}

body {
background: #EEEEEE;
}
 
 </style>
 
 <body>
	<div class="row main-content-wrapper">    
    	<div class="content-area clearfix">
        	<div class="col-80">
				<div class="plugin-wrap-articles clearfix">
					<div class="plugin-wrap-title"><a href="http://{{ site.domain }}/C/course/">Recently, we learned about</a></div>
					<div id="contentApp" class="plugin-wrap-content clearfix">
						{% include "blogging/includes/testing.html" with nodes=nodes %}
  						<div class="feature content-block-article shuffle_sizer"></div>
  					</div>
  				</div>
			</div>
		</div>
	</div> 
 </body>
