{% extends "blogging/base.html" %}

{% block title %}
Create Content - Phase-2
{% endblock %}

{% block content_blog %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/widgets.css"/>

{% if success %}
	<h1> Save Success! Thank You For Time. </h1> 
{% else %}
	{% if form.errors %}
	        <p style="color: red;">
	            Please correct the error{{ form.errors|pluralize }} below.
	        </p>
	{% endif %}

	<form action="" method="post">
	        <table>
	            {{ form.as_p }}
	        </table>
	        {% csrf_token %}
	        <input type="submit" value="Submit">
	</form>

{% endif %}
{% endblock %}

{% block extra_script %}

	<script type="text/javascript" src="/admin/jsi18n/"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
	<script src="{{ STATIC_URL }}js/cms.ckeditor.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/calendar.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
	
	{{ form.media }}

{% endblock %}
